<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Workflow{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/cover.css') }}" rel="stylesheet">
            <style>
                .bd-placeholder-img {
                    font-size: 1.125rem;
                    text-anchor: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                        font-size: 3.5rem;
                    }
                }
            </style>
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Workflow</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="{{ path('home') }}">Home</a>
                    <a class="nav-link " href="{{ path('app_new') }}">New post</a>
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-link" href="{{ path('app_register') }}">Registration</a>
                </nav>
            </div>
        </header>
        {% block body %}{% endblock %}

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Workflow examples</p>
            </div>
        </footer>
    </div>

    {% block javascripts %}
        {<script src="{{asset('js/bootstrap.min.js')}}"></script>
    {% endblock %}
    </body>
</html>
